*{
  margin: 0;
  padding: 0;
  font-size: 15px;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(58,0,255,1) 93%); */
}

body{
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(58,0,255,1) 93%); */
  
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  z-index: 1;
  padding: 20px;
  margin: 20px;
  height: 100vh;
  /* width: 100; */
  /* background-image: url(./Animated\ Shape.svg); */
  /* background: linear-gradient(135deg, #7ACB6D, #28A745); */
  /* background: linear-gradient(to right, #a0e3e0, #009688); */
  background-image: url("redR.jpeg");
  /* background-image: url("222.png"); */

  /* filter: blur(2.3px); */

  /* background-color: #2555ff; */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  /* height: 100; */
}

/* .site {
  display: flex;
  width: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */

.app-container
{
  /* padding: 150px; */
}
.text
{
  font-size: 24px;
  color: #00bebe
}
.header-content{
  margin: 30px;
  margin-left: 120px;
  /* background-color: #285c9a; */
  /* background: linear-gradient(to right, #b3e5fc, #1ca193); */
  background-color: rgb(28 130 97 / 50%);

  width: 90rem;
  padding: 26px;
  border-radius: 20px;
}


.rounded-circle{
  width: 30px;
  height: 30px;
}
#game-mode
{
  padding-top: 8rem;
  justify-content: center;
}

#text-prf
{
  color:aqua;
}
#card-prf
{
  padding: 30px;
  margin: 20px;
}
.card-game{
  /* border: 1px solid; */
  border-radius: 7rem;
}
.card-body{
  /* border: 1px solid; */
  padding: 20px;
}

.navbar-brand{
  flex:2
}

#borderSignup
{
  /* background: linear-gradient(to right, #4fd1c5, #0584e3); */
  /* background-image: url("redR.jpeg"); */
  /* background-image: url("333.jpeg"); */
  /* background-image: url("Terrain.jpeg"); */
  /* background-color: #ffff; */
  background-color: rgb(28 130 97 / 50%);
  padding: 20px 0px;
  border-radius: 40px;
  box-shadow: 8px 9px 16px #047246;
}
#borderSignin
{
  background-color: rgb(28 130 97 / 50%);
  padding: 100px 0px;
  border-radius: 40px;
  box-shadow: 8px 9px 16px #047246;
}

.card-img-top{
  border-radius: 49px;
  filter: blur(2.3px);
  box-shadow: 2px #00bebe;
}
.card-img-top:hover{
  filter: blur(1px);
}
#navbar-container{
  /* background-color: #ffff; */
}
#header{
  color: #dc3545;
}
.home{
  margin-top: 40px;
}

/* .col-md-6{
  background: none;
}
.form-label{
  color: #ffff;
  background: none;
} */
body, html {
  height: 100%;
  margin: 0;
}

.form-inline{
  margin-right: 30px;
  flex:2;
  height: 33px;
}
.btn{
  border-radius: 20px;
  font-size: 19px;
  color:#ffff;
  
}
.btn-search{
  border-radius: 20px;
  font-size: 9px;
  padding: 5px;
  color: aqua;
  /* background-color: #0e6efd; */
  /* background: linear-gradient(to right, #b3e5fc, #1ca193); */
  background-color: rgb(28 130 97 / 80%);
  border: none;
}

.form-control
{
  margin-right: 10px;
  /* background: #0081e1; */
  background-color: rgb(0 0 0 / 20%);
  /* background: linear-gradient(to right, #a0e3e0, #009688); */
  font-size: 17px;
  border-radius: 20px;
}
.form-control-search
{
  margin-right: 20px;
  /* background-color: #2b5fa3; */
  /* background: linear-gradient(to right, #b3e5fc, #1ca193); */
  background-color: rgb(28 130 97 / 80%);
  font-size: 10px;
  border-radius: 20px;
  /* margin-left: 20px; */
  padding-left: 20px;
  width: 40vh;
  border: none;
}

.navbar-nav{
  border-radius: 25px;
  /* border: 2px solid #ccafaf; */
  background-color: #2f588b;
  /* background: linear-gradient(to right, #b3e5fc, #1ca193); */
  background-color: rgb(28 130 97 / 50%);
}
.nav-item{
  margin: 5px;
}
.content{
  width: 100%;
  height: 100%;
}
#content
{
  display: flex;

}
#content1
{
  width: 100%;
  /* background-color: #c5d0d0; */

}

#navbar-container {
  width: 80px;
  /* display: flex;
  justify-content: center; */
  /* background-color: #f8f9fa; */
  padding: 20px;
  /* box-shadow: 2px 1px 6px 0px rgba(0,0,0,0.1); */
}



/* .navbar-nav .nav-link i {
  color: #0d0e12;
  transition: color 0.3s; 
}

.navbar-nav .nav-link:hover i {
  color: #e2480b;
} */

.card{
  /* background-color: #4071b0; */
  /* background: linear-gradient(to right, #b3e5fc, #1ca193); */
  /* background: linear-gradient(to right, #5eb9b8, #1ca193); */
  background-color: rgb(28 130 97 / 50%);
  border-radius: 20px;

}
.bestplayer{
  /* background-color: #4071b0; */
  /* background: linear-gradient(to right, #b3e5fc, #1ca193); */
  background-color: rgb(28 130 97 / 50%);

}
.activity{
  height: 60%;
}
#content1{
  /* background-color: #255287; */
  /* border-radius: 30px; */
  /* z-index: 2; */
}
.navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #346096; */
  /* background: linear-gradient(to right, #b3e5fc, #1ca193); */
  /* background: linear-gradient(to right, rgb(40 118 125), rgb(28, 161, 147)); */
  background-color: rgb(28 130 97 / 50%);
  box-shadow: 2px 1px 6px 0px #2555ff;
  
}


.navbar1 ul li{
  font-size: 40px;
  height: 100%;
} 

.navbar1 ul li a i{
  color: #0dffff;
  font-size: 40px;
} 
.navbar1 ul li a i:hover{
  color: #0ce5c5;
  font-size:45px;
} 
.card-title{
  color:#afa7f7;
}
.card-text{
  color:#9a9a9a;
}
#PLay-now
{
  /* background-color: #377dd8; */
  /* background: linear-gradient(to right, #b3e5fc, #1ca193); */
  /* background:linear-gradient(to right, #0c8bc6, #2b9f5f); */
  background-color: rgb(28 130 97 / 50%);

  box-shadow: 0 2px 5px 0;
}
#card-body:hover
{
  background-color: #1763c5;

}


.chat-box {
  height: 87vh;
  overflow-y: scroll;
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 10px;
  /* background: linear-gradient(to right, #ff9966, #ff5e62); */
  background: linear-gradient(to right, rgb(51 174 164), rgb(70 169 102));
  /* background-image: linear-gradient(to right top, #568abf, #4c7fb5, #4175aa, #376aa0, #2c6096, #25588e, #1e5185, #17497d, #134375, #0f3d6c, #0b3764, #07315c); */
  color: white;
}

#input-box {
  background: linear-gradient(to right, rgb(24 135 83), rgb(0 142 46));
}

.list-unstyled li:hover {
background-color: #eae9e9;
color: #5b6262;
}

.media img {
  width: 50px;
  height: 50px;
}
.part2-media-body {
  /* background-color: #ff5e62; */
  margin-top: 15px;
}
.online-badge {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 10px;
}
.offline-badge {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
}
.message-left {
background-color: #e6f3ff;
color: black;
padding: 10px;
margin-bottom: 10px;
border-radius: 0px 15px 15px 15px;
max-width: 60%;
float: left;
clear: both;
}

.message-right {
background-color: #dcf8c6;
color: black;
padding: 10px;
margin-bottom: 10px;
border-radius: 15px 0px 15px 15px;
max-width: 60%;
float: right;
clear: both;
}